* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}


#container {
    max-width: 1280px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*INTESTAZIONE*/
.logo{
    height: 70px;
    width: 175px;
    border-right: 0.5pt solid lightgrey;
    padding-right: 20px;
    
}

a{
    display: inline-block;
    margin-top: 20px;
    color: #8A8A8A;
    text-decoration:none;
    padding-right: 10px;
    margin-bottom: 30px;
}
/*FINE INTESTAZIONE*/

/*IMG + TESTO*/
.blocco_centrale {
    background-image: url(img/banner.jpg);
    background-position: center center;
    height: 450px;
    border-radius: 10px;
 }

.testo_img_grande{
    margin-left: 25px;
    color: black;
    text-align: left;
    width: 450px;
    height: 350px;
    padding-top: 300px;
  }

.testo_piccolo_img{
    margin-left: 25px;
    color: black;
    text-align: left;
    width: 450px;
   }
/*FINE IMG + TESTO*/

 /*SECONDO PARAGRAFO*/
.intestazione_secondo_paragrafo {
    height: 100px;
    padding-top: 20px;
}

.sottotitolo_secondo_paragrafo{
    color: #8a8a8a;
}

    .middle_container{
        height:600px
    }

    /*COLONNE*/
    .text{
        margin-top: 15px;
        color: #8A8A8A;
    }
        /*colonne sx-dx*/
        #immagini{
            border-radius: 10px;
            margin: auto;
        }

        .img_sx, .img_dx{
        width: 200px;
        height: 200px;
        }

        .colonna_sx {
            float: left;
            width: 20%;
            min-height: 300px;
            margin: 20px auto;
        }
       
        .colonna_dx {
        float: left;
        width: 20%;
        min-height: 300px;
        margin: 20px auto;
        }
        /*fine colonne sx-dx*/

        /*colonna centrale*/
        .colonna_centrale {
        float: left;
        width: calc(60% - 40px);
        min-height: 300px;
        margin: 20px;
        }

        .img_centro{
            width: 550px;
            height: 200px;
            }
        /*fine colonna centrale*/

footer {
    height: 60px;
    margin-top: 20px;
    padding-left: 550px;
}